<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["css/tailwind.css"]" />
    <link rel="stylesheet" href="@Assets["FellsideDigital.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />

    <script>
        (function () {
            var saved = localStorage.getItem('fellside-theme');
            if (saved !== 'light') {
                document.documentElement.classList.add('dark');
            }
        })();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
    <script src="@Assets["js/animations/anime-interop.js"]"></script>
    <script src="@Assets["js/animations/app-loader.js"]"></script>

    <script src="@Assets["js/app.js"]"></script>

    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
