@using Microsoft.AspNetCore.Components.Routing

<div class="@BaseClass">
    @foreach (var (label, href) in Links)
    {
        <NavLink href="@href"
                 Match="@Match"
                 @onclick="OnClick"
                 class="@LinkClass"
                 ActiveClass="@ActiveClass">
            @label
        </NavLink>
    }
</div>

@code {
    [Parameter] public (string Label, string Href)[] Links { get; set; } = [];
    [Parameter] public string BaseClass { get; set; } = "";
    [Parameter] public string LinkClass { get; set; } = "";
    [Parameter] public string ActiveClass { get; set; } = "";
    [Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    [Parameter] public EventCallback OnClick { get; set; }
}