@using FellsideDigital.UI.Enums

@if (!string.IsNullOrEmpty(Href))
{
    <a href="@Href" class="@_classes">@ChildContent</a>
}
else
{
    <button type="@Type" @onclick="OnClick" disabled="@Disabled" class="@_classes">
        @ChildContent
    </button>
}

@code {
    [Parameter] public string? Href { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool OverrideDefaultStyles { get; set; } = false;
    [Parameter] public ButtonColor Color { get; set; } = ButtonColor.Accent;
    [Parameter] public ButtonStyle Style { get; set; } = ButtonStyle.Solid;

    private string _classes => OverrideDefaultStyles && !string.IsNullOrWhiteSpace(Class)
    ? Class
    : ButtonStyles.Get(Color, Style, extra: Class);
}
